# ========================
# Cấu hình bỏ qua rác Git
# ========================

# 1. Các file Cấu hình Môi trường/Nhạy cảm
.env
.env.local
.env.development
.env.test
.env.production

# 2. Các phần mềm Code (IDE)
.idea/
.vscode/
*.swp
*.swo

# 3. Backend (Spring Boot & Java)
target/
*.class
*.log
# File sinh ra trong quá trình chạy
*.jar
*.war
.mvn/
# Rác hệ điều hành
.DS_Store
Thumbs.db

# 4. Frontend (ReactJS & Node)
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
